flask
pandas
plotly
numpy
python-dotenv
pillow
openpyxl
bcrypt
Flask-Login
Flask-WTF
email-validator
google-auth
google-auth-oauthlib
streamlit-authenticator
Flask-CORS
Flask-SQLAlchemy
Flask-Session
Flask-Migrate
Werkzeug
psycopg2-binary
gunicorn